.container {
    background-color: rgb(190, 190, 190);
    border-left-color: rgb(103, 103, 103);
    border-right-color: rgb(103, 103, 103);
    border-top-color: rgb(103, 103, 103);
    border-bottom-color: rgb(103, 103, 103);
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    width: 446%;
    height: 142%;
}
